<footer class="footer bd-bg-light mt-4 mt-md-6 mt-lg-8">
  <div class="container py-6">
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center justify-content-md-between gap-4">
      <div class="d-flex fs-xs text-body-tertiary">
        <p class="text-body-tertiary mb-0">© {{ now.Format "2006" }} FastBootstrap</p>
        <ul class="d-flex gap-3 inlist-unstyled list-inline ms-4 mb-0">
          <li><a class="text-reset" href="https://atlassian.design/" target="_blank" rel="nofollow">Atlassian Design</a></li>
          <li><a class="text-reset" href="{{ .Site.Params.repo }}/issues" target="_blank" rel="nofollow">Issues</a></li>
          <li><a class="text-reset" href="{{ .Site.Params.repo }}/discussions" target="_blank" rel="nofollow">Discussions</a></li>
        </ul>
      </div>
      <ul class="inlist-unstyled list-inline mb-0">
        <li>
          <a class="text-reset rounded-circle" target="_blank" href="{{ .Site.Params.repo }}">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
