<header class="navbar navbar-expand-lg py-0 sticky-top bd-navbar">
  <nav class="container-fluid px-md-3 px-lg-4">
    <a class="navbar-brand d-inline-flex align-items-center m-0 p-0 me-lg-6 me-xl-9 p-1 rounded text-reset" href="/">
      <svg class="brand-img" width="24" height="24" viewBox="0 0 32 32">
        <rect x="4" y="3" width="24" height="7" rx="3.5" ry="3.5" />
        <rect x="4" y="12" width="20" height="7" rx="3.5" ry="3.5" />
        <rect x="4" y="21" width="14" height="7" rx="3.5" ry="3.5" />
      </svg>
      <h2 class="d-none d-md-block fw-semibold fs-5 ls-wide ms-2 mb-0">FastBootstrap</h2>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav navbar-nav-pills navbar-nav-underline ps-lg-5 flex-grow-1">
        {{ $page := . }}
        {{ range .Site.Menus.global }}
          {{ $active := or ($page.IsMenuCurrent "global" .) (eq $page.Section .Identifier) }}
          <li class="nav-item">
            <a class="nav-link {{ if $active }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
        <li class="nav-item ms-auto me-3">
          <div class="position-relative">
            <button class="btn border-0" id="bd-theme" type="button" data-bs-toggle="dropdown" data-reference="parent" aria-expanded="false"><i class="fa-solid fa-circle-half-stroke fa-lg"></i></button>
            <ul class="dropdown-menu dropdown-menu-end" role="menu">
              <li>
                <button class="dropdown-item" type="button" id="light-theme-button" data-bs-theme-value="light"><i class="fa-solid fa-sun fa-lg"></i><span class="ms-2">Light</span></button>
              </li>
              <li>
                <button class="dropdown-item" type="button" id="dark-theme-button" data-bs-theme-value="dark"><i class="fa-solid fa-moon fa-lg"></i><span class="ms-2">Dark</span></button>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item me-lg-4">
          <button class="bg-transparent fs-sm text-muted rounded-2 btn-search border border-2 border-neutral-40 bd-w-56 text-start py-1 ps-2" type="button" data-bs-toggle="modal" data-bs-target="#searchModal">
            <svg class="me-1" width="16" height="16" viewBox="0 0 24 24" role="presentation">
              <path d="M16.436 15.085l3.94 4.01a1 1 0 01-1.425 1.402l-3.938-4.006a7.5 7.5 0 111.423-1.406zM10.5 16a5.5 5.5 0 100-11 5.5 5.5 0 000 11z" fill="currentColor" fill-rule="evenodd"></path>
            </svg>
            Search
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-circle" href="{{ .Site.Params.repo }}">
            <i class="fa-brands fa-github fa-xl"></i>
          </a>
        </li>
      </ul>
    </div>
    <button class="navbar-toggler" type="bdNavbar" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
        <path
          fill-rule="evenodd"
          d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
      </svg>
    </button>
  </nav>
</header>
<div class="offcanvas offcanvas-end w-100 mw-100" tabindex="-1" id="bdNavbar">
  <div class="offcanvas-header border-bottom px-5">
    <svg class="brand-img" width="24" height="24" viewBox="0 0 32 32">
      <rect x="4" y="3" width="24" height="7" rx="3.5" ry="3.5" />
      <rect x="4" y="12" width="20" height="7" rx="3.5" ry="3.5" />
      <rect x="4" y="21" width="14" height="7" rx="3.5" ry="3.5" />
    </svg>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body px-5">
    <div class="d-flex flex-column">
      {{ range .Site.Menus.global }}<a class="py-2 fw-bold text-reset" href="{{ .URL }}">{{ .Name }}</a>{{ end }}
    </div>
    <ul class="list-inline mt-3 text-center border-top pt-5">
      <li>
        <a class="nav-link rounded-circle" href="{{ .Site.Params.repo }}">
          <i class="fa-brands fa-github fa-xl"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

{{ partial "sections/search" }}
