{{ $icon_css := index . "icon_css" | default "icon-blue"}}
<div class="row g-4">
  {{ range .pages }}
    <div class="col-md-6">
      <a href="{{ .RelPermalink }}" class="text-reset text-decoration-none">
      <div class="card bd-card max-w-sm border-0 h-100">
        <div class="card-body">
          <div class="rounded bd-w-12 bd-h-12 mb-4 d-flex justify-content-center align-items-center {{$icon_css}}">
              <i class="fa-solid fa-code"></i>
          </div>                    
          <h2 class="card-title h5 d-flex align-items-center">{{ .Title }}
            {{- with .Params.status -}}
            <span class="lozenge me-2 me-lg-4 text-uppercase fw-medium fs-xs new ms-auto">{{ . }}</span>
            {{- end -}}
          </h2>
          <p class="text-body-tertiary fs-sm">{{ .Description }}</p>                    
        </div> 
      </div>
      </a>
    </div>
  {{ end }}
</div>