{{ $page := .page }}
{{ $active_menu := .active_menu }}
{{ $menus := dict }}

{{ range index .page.Site.Menus $active_menu }}
  {{ $menu := . }}
  {{ $name := lower (.Page.Params.group | default $active_menu) }}
  {{ $list := slice }}
  {{ with index $menus $name }}
    {{ $list = . | append $menu }}
  {{ else }}
    {{ $list = slice . }}
  {{ end }}
  {{ $menus = merge $menus (dict $name $list) }}
{{ end }}

{{ if isset .page.Site.Data.sidebar $active_menu }}
  {{ range (index .page.Site.Data.sidebar $active_menu) }}
    <div class="sidebar__section-heading d-block my-2 fw-semibold text-capitalize ls-wider fs-sm">{{ .title }}</div>
    <ul class="list-unstyled">
      {{ range index $menus .name }}
        <li>
          {{ $is_active := $page.IsMenuCurrent $active_menu . }}
          <a href="{{ .URL }}" class="sidebar__link d-flex justify-content-between {{ if $is_active }}active{{ end }}"
            >{{ .Name }}{{ with .Page.Params.status }}<span class="lozenge me-2 me-lg-4 text-uppercase fw-medium fs-xs {{ . }}">{{ . }}</span>{{ end }}</a
          >
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ else }}
  {{ range $menus }}
    <ul class="list-unstyled">
      {{ range . }}
        <li>
          {{ $is_active := $page.IsMenuCurrent $active_menu . }}
          <a href="{{ .URL }}" class="sidebar__link d-flex justify-content-between ps-5 {{ if $is_active }}active{{ end }}"
            >{{ .Name }}{{ with .Page.Params.status }}<span class="lozenge me-2 me-lg-4 text-uppercase fw-medium fs-xs {{ . }}">{{ . }}</span>{{ end }}</a
          >
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
