<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "sections/head.html" . }}
    {{ block "head-meta-main" . }}
      <title>{{ partial "funcs/get-page-title.html" . }}</title>
      <meta name="description" content="{{ .Page.Params.description | default .Site.Params.description | markdownify }}" />
      {{ partial "sections/head-seo.html" . }}
    {{ end }}
    {{ block "head-meta-addons" . }}{{ end }}
  </head>

  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ end }}
    {{ partial "sections/before-body-end.html" . }}
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
