{{ define "main" }}
<div class="bd-layout">
  <aside class="bd-sidebar border-end">
    <div class="sidebar d-flex flex-column border-end flex-shrink-0">
      <div class="collapse d-lg-block" id="sidebar-nav">
        <div class="sidebar__inner py-3 py-lg-4">
          {{ partial "sidebar.html" (dict "page" . "active_menu" .Params.sidebar_menu) }}
        </div>
      </div>
    </div>
  </aside>
  <main class="bd-main">
    <div class="bd-intro">
      <div class="bd-bg-light px-4 px-md-6 px-lg-10 px-xl-20">
        <div class="row g-0">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="py-4 py-md-6 py-lg-10 py-xl-20">
              <h1 class="mb-0">{{ .Title | markdownify }}</h1>
              <p class="mt-3 text-body-secondary">{{ .Content | markdownify }}</p>
            </div>
          </div>
          {{- with .Param "image" -}}
          <div class="d-none d-md-block col-md-4 col-lg-6">
            <img class="w-100 h-auto max-w-sm" src="{{ . }}" />
          </div>
          {{- end -}}
        </div>
      </div>
    </div>
    <div class="bd-main-content">
      <div class="max-w-screen-lg">
        <div class="px-4 px-md-6 px-lg-10 px-xl-20 my-8">
          {{ partial "page-list" (dict "pages" .Pages "icon_css" .Params.styles.list_icon_css ) }}
        </div>
      </div>
    </div>
  </main>
</div>
{{ end }}