{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": true,
        "printWidth": 1000
      }
    },
    {
      "files": "*.yml",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.scss",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
