.bd-example {
  position: relative;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid var(--ds-border);
  ///border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  @include media-breakpoint-up(lg) {
    padding: 1.5rem;
  }

  code {
    background-color: var(--ds-background-accent-blue-subtler);
    font-weight: 600;
  }
}

.bd-code-snippet {
  padding: 1rem !important;
  margin-bottom: 1rem !important;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  @include media-breakpoint-up(lg) {
    padding: 1.5rem !important;
  }
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}

.custom-tooltip-secondary {
  --bs-tooltip-bg: var(--bs-secondary);
}

.bd-example-card {
  & > .card {
    max-width: 346px;
  }
}

%block-box {
  border: 1px solid var(--ds-background-accent-purple-subtlest);
  padding: var(--ds-space-150);
  background-color: var(--ds-background-accent-purple-subtle);
}

.bd-example-grid [class^="col"] {
  @extend %block-box;
}

.bd-example-row {
  [class^="col"] {
    @extend %block-box;
  }

  .row + .row {
    margin-top: 1rem;
  }
}

.bd-example-row-flex-cols {
  .row {
    min-height: 10rem;
  }
}


.bd-placeholder-img {
  font-size: 1.125rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-anchor: middle;
}

.bd-example-position-examples {
  &::after {
    display: none;
  }
}

.simple-list-example-scrollspy .active {
  background-color: var(--ds-background-accent-purple-subtler);
}

.bd-example-carousel {
  .carousel-item > img {
    max-height: 480px;
  }
}

.bd-example-list-group {
  .list-group {
    width: 100%;
    max-width: 360px;
  }
}

.bd-example-modal-static {
  .modal {
    display: block;
    position: static;
  }
}

.bd-example-sidenav {
  .layout {
    height: 100%;
  }

  .layout-sidebar {
    height: 100%;
  }
}

.bd-example-offcanvas .offcanvas {
  position: static;
  display: block;
  height: 200px;
  visibility: visible;
  transform: translate(0);
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: #6e5dc6;
  --bs-popover-header-bg: #6e5dc6;
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}

.bd-example-toast-container {
  min-height: 240px;
  background-color: #091e420f;
}
