.bd-example {
  position: relative;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid #ebecf0;
  ///border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    padding: 1.5rem;
  }

  & > :last-child {
    //margin-bottom: 0;
  }
}

.bd-code-snippet {
  padding: 1rem !important;
  margin-bottom: 1rem !important;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  @include media-breakpoint-up(lg) {
    padding: 1.5rem !important;
  }
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}

.custom-tooltip-secondary {
  --bs-tooltip-bg: var(--bs-secondary);
}

.bd-example-card {
  & > .card {
    max-width: 346px;
  }
}

.bd-example-grid [class^="col"] {
  border: 1px solid #b3f5ff;
  padding: 0.75rem;
  background-color: #e6fcff;
}

.bd-example-row {
  [class^="col"] {
    border: 1px solid #b3f5ff;
    padding: 0.75rem;
    background-color: #e6fcff;
  }

  .row + .row {
    margin-top: 1rem;
  }
}

.bd-example-row-flex-cols {
  .row {
    min-height: 10rem;
  }
}

.bd-example-cssgrid {
  .grid > * {
    border: 1px solid #b3f5ff;
    padding: 0.75rem;
    background-color: #e6fcff;
  }
}

.bd-example-flex {
  div {
    border: 1px solid #b3f5ff;
    background-color: #e6fcff;
  }
}

.bd-example-position-utils {
  position: relative;
  padding: 2rem;

  .position-relative {
    height: 200px;
    background-color: #c1c7d0;
  }

  .position-absolute {
    width: 2rem;
    height: 2rem;
    background-color: #091e42;
    border-radius: 0.375rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-anchor: middle;
}

.bd-example-position-examples {
  &::after {
    display: none;
  }
}

.simple-list-example-scrollspy .active {
  background-color: #eae6ff;
}

.bd-example-carousel {
  .carousel-item > img {
    max-height: 480px;
  }
}

.bd-example-list-group {
  .list-group {
    width: 100%;
    max-width: 360px;
    background-color: #fff;
  }
}

.bd-example-modal-static {
  .modal {
    display: block;
    position: static;
  }
}

.bd-example-sidenav {
  .layout {
    height: 100%;
  }

  .layout-sidebar {
    height: 100%;
  }
}
