@include color-mode(dark, true) {
  .bd-masthead {
    h1 {
      color: #fff;
    }
  }

  .bg-neutral-subtler {
    background-color: #03040442;
  }

  .bg-grid-slate-100 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%231D2125'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }
}
