code {
  background-color: var(--ds-background-neutral);
  color: var(--ds-text);
  padding: 2px 4px;
  border-radius: 3px;
  overflow-wrap: break-word;
}

.doc-intro {
  max-width: 640px;
}

.doc-content {
  @include media-breakpoint-up(lg) {
    max-width: 760px;
  }

  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-top: 8px;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }

    & + ul,
    & + ol {
      margin-top: 0;
    }
  }

  & > p {
    margin-bottom: 16px;
    word-break: break-word;
    line-height: 1.6;

    & > img {
      max-width: 100%;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & > h2 {
    font-size: 24px;
  }

  & > h3 {
    font-size: 20px;
  }

  & > h4 {
    font-size: 18px;
  }

  & > h5 {
    font-size: 16px;
  }

  & > h6 {
    font-size: 14px;
  }

  & > ul > li {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.doc-nav {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 80px;
  }
}

.doc-nav-content {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--ds-border);
    z-index: 1;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      position: relative;
      width: 100%;
      height: auto;
      margin-top: 4px;

      & > ul > li > a {
        padding-left: 26px;
      }

      & > ul > li > ul > li > a {
        padding-left: 38px;
      }
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 24px;
      color: var(--ds-text-subtlest);
      text-decoration: none;
      padding-left: 12px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        display: block;
        background-color: var(--ds-background-selected-bold);
        opacity: 0;
        transition: all 0.3s linear;
        z-index: 2;
      }

      &:hover {
        color: var(--ds-text-subtle);
        text-decoration: none;
      }

      &.active {
        color: var(--ds-text-selected);

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.bd-callout {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.lozenge {
  display: inline-block;
  padding: 0 4px;
  border-radius: var(--bs-border-radius);
  font-size: 14px;

  &.new {
    background-color: var(--ds-background-discovery);
    color: var(--ds-text-discovery);
  }
}

.api-class-table {
  code {
    background-color: var(--ds-background-discovery);
    color: var(--ds-text-discovery);
  }

  .desc {
    color: var(--ds-text-accent-teal);
    font-family: var(--bs-font-monospace);
    letter-spacing: -0.15px;
  }
}

.bg-striped-purple {
  background-color: var(--ds-background-accent-gray-subtlest);
  background-image: linear-gradient(
    135deg,
    var(--ds-background-discovery-bold) 10%,
    #0000 0,
    #0000 50%,
    var(--ds-background-discovery-bold) 0,
    var(--ds-background-discovery-bold) 60%,
    #0000 0,
    #0000
  );
  background-size: 7.07px 7.07px;
}

.bg-striped-teal {
  background-color: var(--ds-background-accent-gray-subtlest);
  background-image: linear-gradient(
    135deg,
    var(--ds-background-accent-teal-bolder) 10%,
    #0000 0,
    #0000 50%,
    var(--ds-background-accent-teal-bolder) 0,
    var(--ds-background-accent-teal-bolder) 60%,
    #0000 0,
    #0000
  );
  background-size: 7.07px 7.07px;
}

.bg-striped-white {
  background-image: linear-gradient(135deg, #fff 10%, #0000 0, #0000 50%, #fff 0, #fff 60%, #0000 0, #0000);
  background-size: 7.07px 7.07px;
}

.bg-grid-slate-100 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23F3F0FF'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

[data-bs-theme="dark"] {
  .bg-grid-slate-100 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%232B273F'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }
}

.bg-neutral-subtler {
  background-color: #091e4208;
}

[data-bs-theme="dark"] {
  .bg-neutral-subtler {
    background-color: #03040442;
  }
}

.bg-purple-subtler {
  background-color: var(--ds-background-accent-purple-subtler);
}

.bg-purple-subtle {
  background-color: var(--ds-background-accent-purple-subtle);
}

.bg-blue-subtle {
  background-color: var(--ds-background-accent-blue-subtle);
}

.bg-checkered {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23F0F0F0' d='M0 0h8v8H0zm8 8h8v8H8z'/%3E%3C/svg%3E");
  background-size: 16px 16px;
}

.bd-bg-light {
  background-color: var(--ds-background-accent-gray-subtlest);
}
