code {
  background-color: var(--ds-background-neutral);
  color: var(--ds-text);
  padding: 2px 4px;
  border-radius: 3px;
  overflow-wrap: break-word;
}

.doc-intro {
  max-width: 640px;
}

.doc-content {
  @include media-breakpoint-up(lg) {
    max-width: 760px;
  }

  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-top: 8px;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }

    & + ul,
    & + ol {
      margin-top: 0;
    }
  }

  & > p {
    margin-bottom: 16px;
    word-break: break-word;
    line-height: 1.6;

    & > img {
      max-width: 100%;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & > h2 {
    font-size: 24px;
  }

  & > h3 {
    font-size: 20px;
  }

  & > h4 {
    font-size: 18px;
  }

  & > h5 {
    font-size: 16px;
  }

  & > h6 {
    font-size: 14px;
  }

  & > ul > li {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.doc-nav {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 80px;
  }
}

.doc-nav-content {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--ds-border);
    z-index: 1;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      position: relative;
      width: 100%;
      height: auto;
      margin-top: 4px;

      & > ul > li > a {
        padding-left: 26px;
      }

      & > ul > li > ul > li > a {
        padding-left: 38px;
      }
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 24px;
      color: var(--ds-text-subtlest);
      text-decoration: none;
      padding-left: 12px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        display: block;
        background-color: var(--ds-background-selected-bold);
        opacity: 0;
        transition: all 0.3s linear;
        z-index: 2;
      }

      &:hover {
        color: var(--ds-text-subtle);
        text-decoration: none;
      }

      &.active {
        color: var(--ds-text-selected);

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.bd-callout {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.lozenge {
  display: inline-block;
  padding: 0 4px;
  border-radius: var(--bs-border-radius);
  font-size: 14px;

  &.new {
    background-color: var(--ds-background-discovery);
    color: var(--ds-text-discovery);
  }
}
