.bd-card {
  box-shadow: var(--ds-shadow-raised);
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: var(--ds-shadow-overlay);
  }

  .icon-blue {
    color: var(--ds-text-inverse);
    background-color: var(--ds-icon-accent-blue);
  }

  .icon-yellow {
    color: var(--ds-text-inverse);
    background-color: var(--ds-icon-accent-yellow);
  }

  .icon-purple {
    color: var(--ds-text-inverse);
    background-color: var(--ds-icon-accent-purple);
  }
}

.btn-search {
  &:hover {
    border-color: #2684ff !important;
  }
}

#searchModal {
  mark {
    padding: 0;
    color: #0065ff;
    font-weight: 500;
    background-color: transparent;
    border-bottom: 2px solid #b3d4ff;
  }
}
