.bd-card {
  box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px 0px rgba(9, 30, 66, 0.31);

  &:hover {
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
      0 0 1px rgba(9, 30, 66, 0.31);
  }
}

.btn-search {
  &:hover {
    border-color: #2684ff !important;
  }
}

#searchModal {
  mark {
    padding: 0;
    color: #0065ff;
    font-weight: 500;
    background-color: transparent;
    border-bottom: 2px solid #b3d4ff;
  }
}
