$navbar-height: 56px;
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  @include media-breakpoint-up(lg) {
    position: sticky;
    height: calc(100vh - #{$navbar-height});
    width: 242px;
    top: $navbar-height;
    overflow-y: auto;
  }

  @include media-breakpoint-up(xl) {
    width: 272px;
  }

  & > ul {
    margin-bottom: 0;
  }

  &__section-heading {
    padding-left: 24px;
  }

  &__link {
    position: relative;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.2;
    color: var(--ds-text);
    background-color: transparent;

    &:hover {
      color: var(--ds-text);
      text-decoration: none;
      background-color: var(--ds-background-neutral-subtle-hovered);
    }

    &.active {
      color: var(--ds-text-selected);
      background-color: var(--ds-background-selected);

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background-color: var(--ds-border-selected);
        z-index: 2;
      }
    }
  }
}
