.code-toolbar {
  position: relative;
  font-size: 14px;

  &:hover {
    & > .toolbar {
      opacity: 1;
    }
  }

  & > .toolbar {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 8px;
    opacity: 0;
    transition: all 0.25s;

    .toolbar-item {
      display: inline-block;
    }

    button {
      background: 0 0;
      border: 0;
      padding: 4px 6px;
      border-radius: 3px;
      box-shadow: none;
      color: var(--ds-text);
      font-weight: 500;
      transition: color 0.25s, background-color 0.25s;

      &:hover {
        background-color:var(--ds-background-neutral-subtle-hovered);
      }

      &:focus,
      &[data-copy-state="copy-success"] {
        color: #fff;
        background-color: rgba(116, 118, 121, 0.6);
      }
    }
  }
}
