@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";

$enable-cssgrid: true;
@import "node_modules/bootstrap/scss/grid";

// Load docs components
@import "root";
@import "navbar";
@import "sidebar";
@import "codebox";
@import "docs";
@import "layout";
@import "utilities";
@import "component-examples";
@import "vendor/prism";

@import "node_modules/bootstrap/scss/utilities/api";