{{/* Usage: `class-docs args`

  `args` are all optional and can be one of the following:
  * name: the module name
  * scroll: Show the scroll bar if needs
*/}}

{{- $module := .Get 0 -}}
{{- $scroll := .Get 1 | default false -}}


<div {{ if $scroll }}class="overflow-y-auto w-100 mb-3" style="max-height:24rem"{{ else }}class="mb-3"{{ end }}>
  <table class="api-class-table table align-middle fs-sm">
    <thead>
      <tr class="text-dark">
        <th>Class</th>
        <th>Properties</th>
      </tr>
    </thead>
    <tbody>
      {{ range (split $module ",") }}
        {{ $m := trim . " " }}
        {{ range index $.Site.Data.css $m }}
          {{ $properties := .property }}
          {{ $values := .values }}
          {{ $prefix := .class | default .property }}
          {{ $format := .format | default "%s-%s" }}
          {{ range $values }}
            {{ $key := . }}
            {{ $value := . }}
            {{ if reflect.IsMap . }}
              {{ range $key, $value = . }}
              {{ end }}
            {{ end }}
            {{ $class :=trim (printf $format $prefix (string $key)) "-" }}
            {{ $styles := slice }}
            {{ range split $properties " " }}
              {{ $property := trim . "" }}
              {{ $styles = $styles | append ( printf "%s: %s;" $property (string $value)) }}
            {{ end }}
            <tr>
              <td class="text-nowrap"><code>{{ printf ".%s" $class }}</code></td>
              <td class="desc lh-md">{{ delimit $styles "<br/>" }}</td>           
            </tr>
          {{ end }}
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
