{{- $id := .Get "id" -}}
{{- $class := .Get "class" -}}
{{- $lang := .Get "lang"  | default "markup" -}}
{{- $style := .Get "style" -}}
{{- $show_preview := .Get "show_preview" | default true -}}
{{- $show_source := .Get "show_source" | default true -}}
{{- $input := .Inner -}}

{{- if eq $show_preview true -}}
  <div {{ with $id }}id="{{ . }}"{{ end }} class="bd-example {{ with $class }}{{ . }}{{ end }}" {{ with $style }}style="{{ . | safeCSS }}"{{ end }}>{{ $input }}</div>
{{- end -}}
{{- if eq $show_source true -}}
<div class="position-relative">
  <pre class="bd-code-snippet"><code class="language-{{ $lang }}">{{ htmlEscape (trim $input "\r\n") | safeHTML }}</code></pre>
</div>
{{- end -}}
