{{ define "main" }}
  <main>
    {{ template "masthead" $ }}
    {{ template "get-started" $}}
    {{ template "features" $ }}
  </main>
{{ end }}

{{ define "masthead" }}
  <div class="bd-masthead">
    <section class="container">
      <div class="max-w-4xl mx-auto pt-8 pt-lg-16">
        <h1 class="display-4 fw-bold lh-1 text-center ls-tight">Awesome Bootstrap Theme Designed with Atlassian Design</h1>
        <p class="max-w-3xl mx-auto mt-6 lead fw-normal text-body-secondary text-center">
          A Beautiful Free Bootstrap theme with fully responsive, powerful CSS utilities, expertly crafted components with Atlassian Design. The perfect starting point for your next project.
        </p>
        <div class="mt-6 mt-sm-10 d-flex flex-column flex-md-row align-items-center justify-content-center gap-4 fs-sm">
          <a class="btn btn-primary btn-lg icon-link icon-link-hover bd-btn-lg" href="/get-started/installation">Get started <i class="fa-solid fa-arrow-right fa-sm bi w-auto h-auto"></i></a>
          <button class="btn btn-lg bd-btn-lg bd-clipboard d-flex align-items-center justify-content-center" data-clipboard-text="npm install fastbootstrap">
            <span class="text-body-tertiary">$</span><code>npm install fastbootstrap</code> <span class="status ms-3"><i class="fa-regular fa-clipboard"></i></span>
          </button>
        </div>
        <div class="text-center mt-6 d-flex justify-content-center align-items-center">
          <span class="text-body-tertiary me-4 fs-sm">Currently <strong>v{{ .Site.Params.current_version }}</strong></span>
          <a
            class="github-button"
            href="https://github.com/fastbootstrap/atlassian-design-for-bootstrap"
            data-icon="octicon-star"
            data-size="large"
            data-show-count="true"
            aria-label="Star fastbootstrap/atlassian-design-for-bootstrap on GitHub"
            >Star</a
          >
        </div>
      </div>
    </section>
  </div>
{{ end }}

{{ define "features" }}
<div class="container pt-8 pt-lg-16">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="rounded bg-neutral-subtler">
        <div class="row g-0">
          <div class="col-5 col-md-4">
            <img class="w-100 h-auto" src="/images/homepage-tokens@2x.png" alt="CSS Utilities" />
          </div>
          <div class="col-7 col-md-8">
            <div class="d-flex flex-column gap-2 ps-2 py-8 py-lg-12 pe-5 ">
              <div class="d-flex align-items-center">
                <span
                  class="d-flex align-items-center justify-content-center rounded fw-semibold fs-xs bd-w-6 bd-h-6 bd-icon-yellow">U</span>
                <h2 class="fs-5 mb-0 ms-2">CSS Utilities</h3>
              </div>
              <p class="mb-0 fs-sm">Utilities provide the building any design for layout or componsed that help us avoid writing custom styles, much simpler than Bootstrap.</p>
              <a class="icon-link icon-link-hover mt-3 fs-sm" href="/docs">
                Explore our CSS utilities <i class="fa-sharp fa-solid fa-arrow-right bi w-auto h-auto lh-1 fa-sm"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="rounded bg-neutral-subtler">
        <div class="row g-0">
          <div class="col-5 col-md-4">
            <img class="w-100 h-auto" src="/images/homepage-components@2x.png" alt="Components" />
          </div>
          <div class="col-7 col-md-8">
            <div class="d-flex flex-column gap-2 ps-2 py-8 py-lg-12 pe-5 ">
              <div class="d-flex align-items-center">
                <span
                  class="d-flex align-items-center justify-content-center rounded fw-semibold fs-xs bd-w-6 bd-h-6 bd-icon-green">C</span>
                <h2 class="fs-5 mb-0 ms-2">Components</h3>
              </div>
              <p class="mb-0 fs-sm">Beautiful components that craft designed with Atlassian Design, make it easy to start for your next project. All components supports dark mode.</p>
              <a class="icon-link icon-link-hover mt-3 fs-sm" href="/components">
                Explore our components <i class="fa-sharp fa-solid fa-arrow-right bi w-auto h-auto lh-1 fa-sm"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "get-started" }}
<div class="container pt-8 pt-lg-16">
  <div class="max-w-4xl mx-auto text-center">
    <h2 class="display-5 fw-bold mb-4">Get started any way you want</h2>
    <p class="lead fw-normal text-body-secondary mb-4">Use the CDN, install source files via package manager, or download the source code to get started.</p>
    <p><a class="fs-5 icon-link icon-link-hover fw-medium" href="/get-started/installation">Read installation docs <i class="fa-sharp fa-solid fa-arrow-right bi w-auto h-auto lh-1 fa-sm"></i></a></p>
  </div>
  <div class="row g-4 g-md-6 mt-4 mt-lg-8">
    <div class="col-lg-6 py-lg-4 pe-lg-5">
      <div class="d-flex flex-column gap-3">
       <div class="d-flex gap-2 align-items-center">
        <div class="rounded bd-w-10 bd-h-10 d-flex justify-content-center align-items-center bd-icon-yellow">
          <i class="fa-solid fa-code"></i>
        </div>
        <h3 class="h4 mb-0">Install via package manager</h3>
       </div>       
        <p class="mb-0">Install FastBootstrap’s source Sass and JavaScript files via npm, RubyGems.</p>
        <p class="fw-semibold mb-0">NPM</p>
        <pre><code class="language-sh">$ npm install fastbootstrap</code></pre>
        <p class="fw-semibold mb-0">or download the souce code</p>
        <p><a href="{{ .Site.Params.download.source }}" target="_blank">Download the latest version</a></p>
      </div>
    </div>
    <div class="col-lg-6 py-lg-4 pe-lg-5 border-lg-start">
      <div class="d-flex flex-column">
        <div class="d-flex gap-2 align-items-center mb-4">
          <div class="rounded bd-w-10 bd-h-10 d-flex justify-content-center align-items-center bd-icon-purple"><i class="fa-solid fa-globe fa-lg"></i></div>
          <h3 class="h4 mb-0">Include via CDN</h3>
        </div>        
        <p class="">When you only need to include FastBootstrap’s compiled CSS or JS, you can use <a href="https://www.jsdelivr.com/package/npm/fastbootstrap">jsDelivr</a>. </p>
        <p class="fw-medium ">CSS</p>
        <pre><code class="language-html">{{ printf (`<link href="%s" rel="stylesheet" integrity=%q crossorigin="anonymous">`) .Site.Params.cdn.css (.Site.Params.cdn.css_hash | safeHTMLAttr) }}</code></pre>
        <p class="fw-medium">JS</p>
        <pre><code class="language-html">{{ printf (`<script src="%s" integrity=%q crossorigin="anonymous"></script>`) .Site.Params.cdn.js (.Site.Params.cdn.js_hash | safeHTMLAttr) }}</code></pre>
      </div>     
    </div>
  </div>
</div>
{{ end }}

{{ define "scripts" }}
  <script async defer src="https://buttons.github.io/buttons.js"></script>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" $ }}
{{ end }}
