<div class="modal fade" tabindex="-1" id="searchModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header px-3 py-2">
        <div class="input-field w-100">
          <label class="input-field-leading"><i class="fa-solid fa-magnifying-glass fa-sm text-neutral-200"></i></label>
          <input type="text" id="search-input" name="search-input" class="form-control bg-transparent py-3" placeholder="Search documents" />
        </div>
      </div>
      <div class="modal-body p-3 pt-0"></div>
    </div>
  </div>
</div>
