<div class="modal fade" tabindex="-1" id="searchModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header px-3 py-2">
        <div class="input-group input-group-start">
          <input type="text" id="search-input" name="search-input" class="form-control bg-transparent py-3" placeholder="Search documents" />
          <label class="input-group-text"><i class="fa-solid fa-magnifying-glass fa-sm text-muted"></i></label>
          <div id="searchLoading" class="position-absolute top-50 end-0 translate-middle visually-hidden me-3"><i class="animate-spin text-primary fas fa-spinner"></i></div>
        </div>
      </div>
      <div class="modal-body p-3 pt-0"></div>
    </div>
  </div>
</div>
