.lozenge {
  display: inline-block;
  padding: 3px 4px;
  vertical-align: baseline;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  border-radius: $border-radius;
  text-transform: uppercase;
}